<body>
    <main>
        <div>
            <header class="">
                <nav class="on-front {{ (routeName == "accueil") ? 'position-absolute' : '' }} position-static start-50 translate-middle mt-5">
                    <ul class="nav">
                        <li class="nav-item me-5">
                            <a class="nav-link active {{ (routeName == "accueil") ? '' : 'text-dark' }}" aria-current="page" href="{{ path('accueil') }}">
                                ACCUEIL                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link active {{ (routeName == "accueil") ? '' : 'text-dark' }}" href="{{ path('events') }}">
                                EVENTS                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link {{ (routeName == "accueil") ? '' : 'text-dark' }}" href="{{ path('portfolio') }}">
                                PORTFOLIO                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link {{ (routeName == "accueil") ? '' : 'text-dark' }}" href="{{ path('actus') }}" tabindex="-1" aria-disabled="true">
                                ACTUS                                                          
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link {{ (routeName == "accueil") ? '' : 'text-dark' }}" href="{{ path('contact') }}" tabindex="-1" aria-disabled="true">
                                CONTACT                                                        
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

