<body>
    <main>
        <div>
            <header class="position-relative">
                <nav class="on-front d-flex justify-content-center position-absolute m-3">
                    <ul class="nav">
                        <li class="nav-item me-5">
                            <a class="{{ (routeName == "accueil") ? 'nav-link' : 'nav-link--dark' }} {{ (routeName == "accueil") ? 'text-danger' : '' }}" aria-current="page" href="{{ path('accueil') }}">
                                ACCUEIL                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class=" {{ (routeName == "accueil") ? 'nav-link' : 'nav-link--dark' }} {{ (routeName == "school") ? 'text-danger' : '' }}" href="{{ path('school') }}">
                                L'ÉCOLE                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="{{ (routeName == "accueil") ? 'nav-link' : 'nav-link--dark' }} {{ (routeName == "portfolio") ? 'text-danger' : '' }}" href="{{ path('portfolio') }}">
                                PORTFOLIO                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="{{ (routeName == "accueil") ? 'nav-link' : 'nav-link--dark' }} {{ (routeName == "actus") ? 'text-danger' : '' }}" href="{{ path('actus') }}">
                                ACTUS                                                          
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="{{ (routeName == "accueil") ? 'nav-link' : 'nav-link--dark' }} {{ (routeName == "contact") ? 'text-danger' : '' }}" href="{{ path('contact') }}">
                                CONTACT                                                        
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

