<body>
    <main>
        <div>
            <header class="">
            {{dump(routeName)}}
                <nav class="on-front position-absolute start-50 translate-middle mt-5{{ (routeName == "accueil") ? '' : 'bg-light' }}">
                    <ul class="nav">
                        <li class="nav-item me-5">
                            <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">
                                ACCUEIL                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link active" href="{{ path('events') }}">
                                EVENTS                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link" href="{{ path('portfolio') }}">
                                PORTFOLIO                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link" href="{{ path('actus') }}" tabindex="-1" aria-disabled="true">
                                ACTUS                                                          
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link" href="{{ path('contact') }}" tabindex="-1" aria-disabled="true">
                                CONTACT                                                        
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

