<body>
    <main>
        <div>
            <header class="">
                <nav class="on-front {{ (routeName == "accueil") ? 'position-absolute' : 'position-relative d-flex justify-content-center' }}  start-50 translate-middle mt-5">
                    <ul class="nav">
                        <li class="nav-item me-5">
                            <a class="nav-link  {{ (routeName == "accueil") ? '' : '' }}" aria-current="page" href="{{ path('accueil') }}">
                                ACCUEIL                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="  {{ (routeName == "accueil") ? 'nav-link' : '' }}" href="{{ path('school') }}">
                                L'ÉCOLE                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class=" {{ (routeName == "accueil") ? 'nav-link' : '' }}" href="{{ path('portfolio') }}">
                                PORTFOLIO                                                            
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class=" {{ (routeName == "accueil") ? 'nav-link' : '' }}" href="{{ path('actus') }}">
                                ACTUS                                                          
                            </a>
                        </li>
                        <li class="nav-item me-5">
                            <a class=" {{ (routeName == "accueil") ? 'nav-link' : '' }}" href="{{ path('contact') }}">
                                CONTACT                                                        
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

